---
layout: default
---

<!-- Page Header -->
{% include intro-header.html type='page' %}

<!-- Main Content -->
<div class="container">
  <div class="row">
    {% if site.sidebar == false %}
    <!-- NO SIDEBAR -->
    <!-- PostList Container -->
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1
      postlist-container">
      {{ content }}
    </div>
    <!-- Sidebar Container -->
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1
      sidebar-container">
      <!-- Featured Tags -->
      {% include featured-tags.html %}

      <!-- Friends Blog -->
      {% include friends.html %}
    </div>
    {% else %}

    <!-- USE SIDEBAR -->
    <!-- PostList Container -->
    <div class="col-lg-8 col-lg-offset-1 col-md-8 col-md-offset-1 col-sm-12
      col-xs-12 postlist-container">
      {{ content }}
    </div>
    <!-- Sidebar Container -->
    <div class="col-lg-3 col-lg-offset-0 col-md-3 col-md-offset-0 col-sm-12
      col-xs-12 sidebar-container">
      <!-- Featured Tags -->
      {% include featured-tags.html %}

      <!-- Short About -->
      {% include short-about.html %}

      <!-- Friends Blog -->
      {% include friends.html %}

      <!-- Ads -->
      {% include ads.html %}
    </div>
    {% endif %}
  </div>
</div>

{% if site.page-mathjax %}
<!-- Add support for Mathjax by Voleking-->
<!-- If you want to see formulars well in post preview, Maybe you should add this.-->
<!-- However, most of the time formulars may not appear in the post preview, you can delete it.-->
<script type="text/x-mathjax-config">
  MathJax.Hub.Config({
    TeX: {
      equationNumbers: {
        autoNumber: "AMS"
      }
    },
    tex2jax: {
      inlineMath: [ ['$','$'] ],
      displayMath: [ ['$$','$$'] ],
      processEscapes: true,
    }
  });
</script>
<script type="text/javascript"
  src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
  <script>
  // 检查认证状态
fetch('https://mtcxlg6x.cn-nb1.rainapp.top/auth/check', {
    credentials: 'include'
})
.then(response => {
    if (response.ok) {
        // 已认证，加载图片
        const img = new Image();
        img.src = 'https://mtcxlg6x.cn-nb1.rainapp.top/proxy/image/2025-10-01-c/day5_1.jpg';
        img.crossOrigin = 'use-credentials';
        document.body.appendChild(img);
    } else {
        // 未认证，提示登录
        alert('请先登录 mtcxlg6x.cn-nb1.rainapp.top 来访问图片');
        window.open('https://mtcxlg6x.cn-nb1.rainapp.top/login', '_blank');
    }
});
</script>
{% endif %}
